/* theme: dark */
body {
    background-color: #212121;
}
#navigation {
    background-color: #212121;
}
h1, h2, h3, h4, h5, h6 {
    color: #dadada
}
.navbar-default .navbar-header .navbar-brand, 
.navbar-default .nav>li>a, 
.btn-link, 
a,
.page-content a {
    color: #dadada;
}
.navbar-default .navbar-header .navbar-brand:hover, 
.navbar-default .nav>li>a:hover, 
.btn-link:hover, 
a:hover, 
.page-content a:hover, 
.page-content {
    color: #aaa;
}
span {
    color: #aaa;
}
.logo-page div {
    background-image: url(../images/logo-white.png);
}
